
body{
   background-color: rgb(5, 4, 4);

}



ul{
border: 1px solid;
    padding: 1px;
    gap: 3rem;
    display: flex;
    text-decoration: none;
    color: white;
    width: 30%;
    padding-left: 10px;
    text-align: center;
    justify-content: center;
    background: transparent;
    align-items: center;
    backdrop-filter: blur(20px);
    border-color: rgb(97, 93, 87);
    border-radius: 10px;

    
    
}





li{
    list-style: none;
    padding-top: 10px;
    font-size: 15px;
    color: beige;
    
   
    
}
li:nth-child(1){
    font-size: 1.5rem;
    color: white;
    
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.link button{
    border-color: yellow;
    margin-right: 10%;
    border-radius: 15px;
    width: 10%;
    height: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: none;
    color: yellow;


}
button{
 
    font-size: 1rem;
}
img{
    width: 500px;
height: 500px;
top: 190px;
left: 1063px;
gap: 0px;
opacity: 0px;

margin-bottom: 50%;
background: linear-gradient(69.06deg, #7b8625 30.25%, #2e313a 116.07%);
background: none;
background-color:transparent;
margin-right: 70%;


}
h1{
    color: aliceblue;
    font-size: 4rem;
    line-height: 10%;
    padding-bottom: 20px;
}
p{
    color: beige;
    
}


.book h2{
    color: aliceblue;
    font-size: 1.5rem;
}
.book h2 p{
    color: #7b8625;
    font-size: 15px;
}
.book span{
    color: yellow;

}
.book h2 p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book button{
  width: 30%;
padding: 15px 15px 15px 15px;
gap: 0px;
border-radius: 15px;
justify: space-between;
opacity: 0px;
background-color: yellow;
color: black;
font-size: 1rem;
margin-top: 4%;
}
.book span button{
    width: 30%;
    padding: 15px 15px 15px 15px;
    gap: 0px;
    border-radius: 15px;
    justify: space-between;
    opacity: 0px;
    background: none;
    color: black;
    font-size: 1rem;
    margin-top: 4%;
    color: aliceblue;
    gap: 1rem;
    border: 1px solid wheat ;
    border-color: rgb(139, 116, 72);
    }
     h3{
        color: white;
        font-size: 1.5rem;
    }
    .part1{
       border: 1px solid white;
        border-radius: 8px;
        width: 20%;
        background-color: yellow;
       padding-top: 20px;
    }
    .part1 p{
       color: white;
       place-content: center;
       align-items: center;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
color: #1a1f04;
text-align: justify;
    }
    .part1 span{
        color: #1a1f04;
     margin-left: 30%;
   padding-top: 50%;
   font-size: 1.4rem;
    }
    .part2{
        border: 1px solid white;
         border-radius: 8px;
         width: 20%;
        background: black;
        padding-top: 20px;
        
     }
     .part2 p{
        color: aliceblue;
        place-content: center;
        align-items: center;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 
     }
     .part2 span{
         color: aliceblue;
      margin-left: 30%;
    padding-top: 50%;
    font-size: 1.4rem;
     }
     .part3{
        border: 1px solid white;
         border-radius: 8px;
         width: 20%;
         background-color: yellow;
        padding-top: 20px;
     }
     .part3 p{
        color: white;
        place-content: center;
        align-items: center;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #1a1f04;
 
     }
     .part3 span{
         color: #1a1f04;
      margin-left: 30%;
    padding-top: 50%;
    font-size: 1.4rem;
     }
     .part4{
        border: 1px solid white;
         border-radius: 8px;
         width: 20%;
         background-color:black;
        padding-top: 20px;
     }
     .part4 p{
        color: white;
        place-content: center;
        align-items: center;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 
     }
     .part4 span{
        color: aliceblue;
      margin-left: 30%;
    padding-top: 50%;
    font-size: 1.4rem;
     }
     .part5{
        border: 1px solid white;
         border-radius: 8px;
         width: 20%;
         background-color: yellow;
        padding-top: 20px;
     }
     .part5 p{
       
        place-content: center;
        align-items: center;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 color: #1a1f04;
     }
     .part5 span{
      color: #1a1f04;
      margin-left: 30%;
    padding-top: 50%;
    font-size: 1.4rem;
     }
     .part6{
        border: 1px solid white;
         border-radius: 8px;
         width: 20%;
         background-color:black;
        padding-top: 20px;
     }
     .part6 p{
        color: white;
        place-content: center;
        align-items: center;
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 20px;

     }
     .part6 span{
        color: aliceblue;
      margin-left: 30%;
    padding-top: 50%;
    font-size: 1.4rem;
     }
    .go {
        display: flex;
        align-items: center;
 gap: 1rem;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
flex-flow:row  wrap;
justify-content: start;
padding-left: 40px;


    }

.why{
        display: flex;
        align-items: center;
 gap: 1rem;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
flex-flow:row  wrap;
justify-content: start;
padding-left: 40px;



    }
    .hi{
        margin-left:32px;
        
    }
.hi span {
    font-size: 2rem;
    margin-right: 20%;
    
}
.container{
    display: flex;
    justify-content: start;
    justify-content: space-between;

    
    

}
.sorry{


}
.sorry h2 { color: aliceblue;

    

}
.one{
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
   

    
    
}

.one p{
    text-align: center;
color: #1a1f04;
    padding-top: 13px;
    font-size: 1.5rem;
}
.two{
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.two p{
    text-align: center;
    color: black;
    padding-top: 13px;
    font-size: 1.5rem;
}
.three{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.three p{
    text-align: center;
    color:black;
    padding-top: 13px;
    font-size: 1.5rem;
}
.fourth{
    background-color: rgb(32, 7, 7);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
   
}

.fourth p{
    text-align: center;
    color: aliceblue;
    padding-top: 13px;
    font-size: 1.5rem;
}
b{
    font-size: 2.5rem;
    color: aliceblue;
    padding-left: 30px;
    
}
.rowmap{
display: flex;
gap: 10rem;
justify-content: start;



}
ol li:nth-child(1){
    
    font-size: 14px;
    color: antiquewhite;
}

ol li:before{
    content: "\2705";
    color: yellow;
}
.mother{
    display: flex;
flex-direction: row;
margin-left: 6%;
gap: 2rem;

}
   .color ol li{
    color: yellow;
}
.girl ol li:nth-child(4){
    color: rgb(116, 98, 98);
}
.girl ol li:nth-child(3){
    color: rgb(116, 98, 98);
}

.girl ol li:nth-child(5){
    color: rgb(116, 98, 98);
}
.sen{
    width: 60%;
  
    border: 1px solid yellow;
    background-color: yellow;
    transform: rotate(-7deg);
    margin-left: 20%;
}
    


.sen h4{
color: black;
margin-left: 10%;
 font-size: 1rem;

}
.she{
    width: 20%;
    border: 1px solid bisque;
    border-radius: 10px;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -moz-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -webkit-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFF00", GradientType=1 );
    margin-left: 9%;

}
.she p{
    padding-left: 10px;
}
.she span{
    padding-left: 65%;
    color: black;
}
.they{
    width: 18%;
    border: 1px solid bisque;
    border-radius: 10px;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -moz-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -webkit-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFF00", GradientType=1 );
    

}
.they p{
    padding-left: 10px;
}
.they span{
    padding-left: 65%;
    color: black;
}
.he{
    width: 20%;
    border: 1px solid bisque;
    border-radius: 10px;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -moz-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -webkit-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFF00", GradientType=1 );
}
.he p{
    padding-left: 10%;
    color: aliceblue;
}
.he span{
    padding-left: 67%;
    color: black;
}






.their{
    width: 18%;
    border: 1px solid bisque;
    border-radius: 10px;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -moz-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -webkit-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFF00", GradientType=1 );
}
.their p{


    padding-left: 5%;
    color: aliceblue;
}
.their span{
    padding-left: 67%;
    color: black;
}
.these{

    width: 18%;
    border: 1px solid bisque;
    border-radius: 10px;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -moz-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -webkit-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFF00", GradientType=1 );
}

.these p{
    padding-left: 5%;
    color: aliceblue;
}
.these span{
    padding-left:59%;
    color:black;
}
.those{

    width: 18%;
    border: 1px solid bisque;
    border-radius: 10px;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -moz-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

background: -webkit-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 46%, hsla(60, 100%, 50%, 1) 51%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFF00", GradientType=1 );
}

.those p{
    padding-left: 5%;
    color: aliceblue;
}
.those span{
    padding-left: 70%;
    color: black;
}
.lee{
    border: 1px solid wheat;
    width: 36%;
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(360deg, hsla(0, 0%, 0%, 1) 64%, hsla(60, 100%, 50%, 1) 73%);

background: -moz-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 64%, hsla(60, 100%, 50%, 1) 73%);

background: -webkit-linear-gradient(360deg, hsla(0, 0%, 0%, 1) 64%, hsla(60, 100%, 50%, 1) 73%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#FFFF00", GradientType=1 );
   border-radius: 10px;
}
.lee{
    margin-left: 32%;
    margin-top: 10px;
}
.lee p{
    margin-left: 10%;

}
.gr{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-right: 8%;
}
.mk{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 7px;
}
.my{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 10px;
}
.gr h2{
    color: aliceblue;

}
.lk h2{
    color: aliceblue;
    margin-right: 25%;
}
.lk{
    display: flex;
    justify-content: center;
}
.khob{
    width: 60%;
  
    border: 1px solid yellow;
    background-color: yellow;
    transform: rotate(7deg);
    margin-left: 20%;
}
    


.khob h4{
color: black;
margin-left: 10%;
 font-size: 1rem;
}
    
.pic button{
    background-color: yellow;
    color: black;
    padding: 20px;
    border-radius: 15px;
}
.print{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pic p{
    margin-right: 50%;
}
.fk img{
background-color: #4d5527;
}
.text span{
    color: yellow;
    font-size: 2.5rem;
}
.text p{
    font-size: 2.5rem;
    color:white ;
}
.line{
    padding-top: 10px 0;
}
.sd label{
    display: block;
    color: aliceblue;

}
.sd{
    justify-content: center;
    margin-left: 35%;
}
.sd input{
    width: 50%;
   border-color: wheat;
   background: none;
   padding: 15px;
   border-radius: 8px;
   color: white;
}
.df button{
    width:53%;
    margin-top: 10px;
    border: yellow;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: yellow;
}
.df p{
    font-size: 13px;
}
.when h6{
    color: aliceblue;
    font-size: 2.5rem;
    margin-left: 36%;
}
.ww button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
    border-radius: 10px;
    background: none;
    color: aliceblue;
    border: 1px solid wheat;
}
.ww button::before{
content: "\23CF";
float: right;
font-size: 20px;
}

.lan p{
    border: 1px solid wheat;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
}
.lan  ::before{
    content: "\2335)";
    float: right;
}

.ww{
    display: flex;
    flex-direction: column;
}
.lan{
    margin-left: 40%;
}
.fot{
    display: flex;
    margin-left: 40%;
gap: 3rem;
}
.final P{
    margin-left: 40px;
    font-size: 10px;
}
.final h2{
    margin-left: 40px;
    color: aliceblue;
}
.icon {
padding: 10px;
color: yellow;
margin-left: 50%;


}
.icon i{
    font-size: 1.5rem;
    
}



